@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Condensed:wght@300;400;700&display=swap');
html{
    box-sizing: border-box;
    font-size: 100%
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}
:root{
  --primary-color: #1e90ff;
  --background-color: white;
  --text-color: #323140;
}
main {
  display: grid;
  grid-template: 6em 90%/3fr 1fr;
  background-color: var(--background-color);
  color: var(--text-color);
}

/*HEADER*/
header{
  grid-area: 1/1/2/3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0 1em;
  margin: 0 0 2em 0;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
}
header span{
  color: var(--primary-color);
}
header h1{
  font-size: 1.5em;
}
h1 > :first-child{
  position: relative;
  top: 4px;
  color: var(--primary-color);
}

/*SEARCH BAR*/
.search-bar{
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.search-bar input{
  width: 40vw;
  background-color: whitesmoke;
  border: none;
  border-radius: 5px;
  padding: 8px;
}
.search-bar >:nth-child(2){
  font-size: 2em;
  padding-left: 10px;
}
.hamburger-menu{
  display: none;
}

/*POST*/
.post{
  grid-area: 2/1/3/2;
  display: grid;
  background-color: white;
  grid-template: 1fr/1fr 20fr;
  padding: 15px;
  margin: 0 2em 2em 2em;
  box-shadow: 0 10px 15px 3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  border-radius: 10px;
  transition: box-shadow .1s ease-in;
}
.post img{
  width: 100%;
  height: auto;
}
.post h3{
  font-size: 1.5em;
  padding-bottom: 20px;
}
.post:hover{
  box-shadow: 0 20px 25px 5px rgba(0,0,0,0.1),0 10px 10px -5px rgba(0,0,0,0.04);
}
.post button{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
  margin: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit; 
}
.post button > *{
  font-size: 1em;
}
.votes{
  font-weight: bold;
}
.upvote > *{
  font-size: 1.7em!important;
}
.downvote > *{
  font-size: 1.7em!important;
}
.upvote:hover > *{
  color:green;
  background: #dfdfdf;
  border-radius: 5px;
}
.downvote:hover > *{
  color:red;
  background: #dfdfdf;
  border-radius: 5px;
}
.vote-container{
  grid-area: 1/1/2/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 25px;
  font-size: 1.1em;
}
.post-content{
  grid-area: 1/2/2/3;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 20px;
}
.post img{
  border-radius: 10px;
}
.post-footer{
  grid-area: 2/2/3/3;
  display: flex;
  padding: 10px 0 0 20px;
  justify-content: space-between;
  align-items: center;
}
.comments-button{
  position: relative;
  top: 3px;
  padding: 0 5px;
}
.post-footer button{
  padding: 1px 5px 1px 1px ;
}
.post-footer button:hover{
  background: #dfdfdf;
  border-radius: 5px;
}
.post .user{
  color: var(--primary-color);
}
.comments-section{
  grid-area: 3/2/4/3;
  display: none;
}

/*POST COMMENTS*/
.comments-container{
  margin-top: 20px;
  padding: 15px;
  border-radius: 5px;
  background: whitesmoke;
  transition: box-shadow .1s ease-in;
}
.comments-container:hover{
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
}
.comments-header{
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

/*SUBREDDITS*/
.subreddits-container{
  opacity: 1;
  visibility: visible;
  grid-area: 2/2/3/3;
  box-shadow: 0 10px 15px 3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  border-radius: 10px;
  padding: 20px;
}
.subreddits-container h2{
  font-size: 2em;
}
.subreddits{
  list-style-type: none;
}
.subreddits button{
  display: flex;
  align-items: center;
  width: 100%;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
  margin: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit; 
  padding: 20px;
}
.subreddits button:hover{
  background: #dfdfdf;
  border-radius: 5px;
}
.subreddits img{
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: 3px solid rgba(0,0,0,0.7);
}
.subreddit-title{
  position: relative;
  bottom: 2px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1em;
  padding-left: 20px;
  color: rgba(0,0,0,0.7);
}

@media only screen and (max-width: 600px){

  main{
    grid-template: 3em 90%/3fr 1fr;
    width: 100vw;
  }

  /*HEADER*/
  header{
    margin: 0;
  }
  h1 >:first-child{
    display: none;
  }

  /*SEARCH BAR*/
  .search-bar >:nth-child(2){
    display: none;
  }
  .hamburger-menu{
    display: inline;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit; 
  }
  .hamburger-menu >:first-child{
    font-size: 2em;
    padding-left: 5px;
  }

  /*POST*/
  .post-container{
    grid-area: 2/1/3/3;
  }
  .post{
    margin: 1em;
    padding: 10px;
  }
  .vote-container{
    padding-right: 10px;
  }
  .post-footer{
    padding: 0;
  }

  /*SUBREDDITS*/
  .subreddits-container{
    visibility: hidden;
    opacity: 0;
    grid-area: 2/1/3/3;
    height: 50%;
    margin: 10px;
    background: white;
    z-index: 1;
    box-shadow: 0 50vh 15px 100vh rgba(0,0,0,0.3);
    transition: opacity 0.15s ease-in-out, visibility 0s;
  }
  .subreddits-container h2{
    text-align: center;
    font-size: 2.5em;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #dfdfdf;
  }
  .subreddits{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subreddits button{
    width: 250px;
  }
  .subreddits img{
    width: 3.5em;
    height: 3.5em;
  }
  .subreddit-title{
    font-size: 1.3em;
  }
}